<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mysql_connection_driver.Properties.Settings.bhs_emuConnectionString" connectionString="User Id=root;Password=Glasgow931;Host=localhost;Database=bhs_emu;Persist Security Info=True" providerName="Devart.Data.MySql"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
